<!DOCTYPE html>
<html>
<head>
  <title>navi - Roadmaps For Learning</title>
  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
  <!--<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="category.css") }}>  
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="main.css") }}>
<!--  Google Analytics Script -->
</head>

<body>

<div id="header">
  <div id="headercontainer">
    <div id="logo"><a href="{{ url_for('home') }}">navi</a></div>
<!--
    <div id="logo"><a href={{ url_for("home") }}><img src={{ url_for('static', filename="images/logomain.jpg") }} alt="problee.com"/>problee</a>
-->

    <div id="mainselection">
      <form name="category_menu">
	<p><select name="example" size="1" onChange="get_category()">
	   {% if category == None or category == 'Select Category' %}
	      <option selected="true">Select Topic</option>
	      {% for category1 in categories %}
	         <option value="/c/{{category1.title}}">{{category1.title}}</option>
	      {% endfor %}
	   {% else %}
	      {% for category1 in categories %}
	         {% if category1.title.lower() == category.lower() %}
	          <option selected="true" value="/c/{{category.lower()}}">{{category.capitalize()}}</option>
	         {% else %}
	         <option value="/c/{{category1.title.lower()}}">{{category1.title}}</option>
	         {% endif %}
	      {% endfor %}
	   {% endif %}
	</select></p>
			 
	<script type="text/javascript">
              function get_category(){
              location=
              document.category_menu.example.
              options[document.category_menu.example.selectedIndex].value
              }
        </script>


	</form>
     </div>

    <p id="signinlinks">
      {% if username %}
      <a href="/">{{username}}</a> &nbsp;  &nbsp; 
      <a href="/logout">logout</a>
      {% elif category != None %} 
      <a href="/c/{{category}}/signup">create account</a> &nbsp;  &nbsp;  
      <a href="/c/{{category}}/login">login</a>
      {% else %} 
      <a href="/signup">create account</a> &nbsp;  &nbsp;  
      <a href="/login">login</a>
      {% endif %}
    </p>


  </div> 
</div>



{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<span class="{{category}}">{{message}}</span>
{% endfor %}
{% endif %}
{% endwith %}

<div class="frame">
{% block content %}

{% endblock %}
</div>
<div id="footer">
      <a href="{{ url_for('home') }}">home</a> &nbsp;  &nbsp; 
      <a href="{{ url_for('home') }}">feedback</a> &nbsp;  &nbsp; 
      {% if username %}
      <a href="/logout">logout</a> 
      {% else %} 
      <a href="/signup">create account</a> &nbsp;  &nbsp;  
      <a href="/login">login</a>
      {% endif %}
</div>
</body>

</html>
