{% extends "base.html" %}

{% block content %}

<div class="topicoverview">
  <h1>{{cat.name}}</h1>
  <div class="navLinks">
<!--    <a id="greenButton" href="javascript:poptastic('/c/{{cat.getCategoryName()}}/addlink')">+ Add Link</a>-->
    <a id="greenButton" href="/c/{{cat.getCategoryName()}}/addlink">+ Add Link</a>
    <script type="text/javascript">
      var newwindow;
      function poptastic(url)
      {
      newwindow=window.open(url,'name','height=570,width=480,top=100,left=450');
      if (window.focus) {newwindow.focus()}
      }
    </script>
  </div>

  <p>{{cat.getDescription()}}</p>
</div>

<div id="subtopics">
        <h2>Essential Subtopics</h2>
        {% for subcat in cat.getSubcategories() %}
	<div class="categories"><a href="/c/{{subcat}}">{{subcat}}</a></div>
	{% endfor %}
	<div class="categories"><a href="/c/{{cat.getCategoryName()}}/addcategory">+ Add Category</a></div>
</div>


<div id="links">
        <div id="highestrated">
          <form name="sorting_menu">
            <p><select name="example" size="1" onChange="go()">
		<option value="/c/{{category}}" {% if sort_type == "rating" %} selected {% endif %}>Highest Rated</option>
                <option value="/c/{{category}}/recent"{% if sort_type == "recent" %} selected {% endif %}>Most Recent</option>
            </select></p>
          </form>
        </div>
        <h2>These Resources Will Get You Up To Speed</h2>
</div>

<div id="categoryList"> <!--Start of Category List-->
{% for link in linkList %}
        <div class="problem">
                <div class="probNum">{{loop.index}}.</div>

                <div class="probSnippet">
                        <div class="snippetTitle"><a href="{{link.getURL()}}">{{link.getTitle()}}</a></div>
			<div class="snippetPic"><img src="{{ url_for('static', filename='images/') }}{{link.getContentType()}}.png" width="50" height="50"/></div>
			<div class="descBucket">
			  <p class="links">{{link.getURL()}}</p>
			  <p class="snippetDesc">{{link.getDesc()[:300]}}</p>
			</div>
			<div class="submitted">Submitted by <a href="">{{link.getAuthorUsername()}}</a></div>
                </div><!--End Snippet Section-->

                <div class="rating">
                        <div class="difficultyScore"><img class="iqscore" src={{ url_for('static', filename='images/iqscore.png') }} alt="quality score"/>{{link.getRating()}}</div>
                        <div class="votes">{{ link.getRatingVotes() }} votes</div>
			{% if user != None %}
                        <div class="rate">
			  <form name="{{link.getLinkId()}}" method="post"> Rate:
			      <select name="rate" id="difficulty" onchange="score({{loop.index + 1}})">
				{% if user.getUserRating(link.getLinkId()) == 0 or user.getUserRating(link.getLinkId()) == None %}
				<option value="0 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 0 %} selected {% endif %}>-</option>
				{% endif %}
				<option value="1 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 1 %} selected {% endif %}>1</option>
				<option value="2 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 2 %} selected {% endif %}>2</option>
				<option value="3 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 3 %} selected {% endif %}>3</option>
				<option value="4 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 4 %} selected {% endif %}>4</option>
				<option value="5 {{link.getLinkId()}}" {% if user.getUserRating(link.getLinkId()) == 5 %} selected {% endif %}>5</option>
                            </select>
			  </form>
			</div><!--End Rate-->
			{% endif %}
                </div><!--End Rating-->
                

		<div class="clear"></div>
        </div><!-- End Problem -->

{% endfor %}
</div><!--End Category List -->

<script type="text/javascript">
  function score(link_num) {
  var new_id = link_num.toString();
  document.forms[link_num].submit();
  }

  function go(){
  location=
  document.sorting_menu.example.
  options[document.sorting_menu.example.selectedIndex].value
  }

</script>


{% endblock %}
