{% extends "base.html" %}

{% block content %}
<div class="homepage">  
  <h1 style="text-align: center;">Get Up To Speed Fast On:</h1>
  <div id="startlearning" style="text-align: center;">
                <form name="Stephen">
                  <p><select name="example" size="1" onChange="dropdown()">
                      <option>Select Topic</option>
			{% for category in categories %}
			  <option value="/c/{{category.title}}">{{category.title}}</option>
			{% endfor %}-->
                    </select>
		  </p>
	<script type="text/javascript">
              function dropdown(){
              location=
              document.Stephen.example.
              options[document.Stephen.example.selectedIndex].value
              }
        </script>

                </form>
  </div>

  <!--<a id="greenButton" style="font-size: 15px; margin: 40%;" href="/problem/1">Start Coding</a></p>
  <div class="categoriesList">
    {% for category in categories %}
    <div class="category"><a href="/problem/{{category.category}}">{{category.category}} ({{category.problem_count}})</a></div>
    {% endfor %}
  </div>-->

</div><!-- End Homepage -->
{% endblock %}

