{% extends "base.html" %}

{% block content %}
<div class="login"name="login">
  <div class="problemTitle"><h1>Login</h1></div>
  
  <form method="post" name="loginform">
      <input class="setProbAttr" style="margin-bottom: 12px;" type="text" name="username" value="{{username}}" placeholder="Username"><span class="error" name="userError"> {{userError}}</span>
      <input class="setProbAttr" type="password" name="password" placeholder="Password"><span class="error" name="passError"> {{passError}}</span>
      <br>
      <input class="silverButton" type="submit" value="Login">
    </form>
</div>


{% endblock %}
