{% extends "base.html" %}

{% block content %}
<div class="login"name="login">
  <div class="problemTitle"><h1>Login</h1></div>
  
  <form method="post" name="loginform">
      <input class="mainForm" type="text" name="username" value="{{username}}" placeholder="Username"><p class="error" name="userError"> {{userError}}</p>
      <input class="mainForm" type="password" name="password" placeholder="Password"><p class="error" name="passError"> {{passError}}</p>
      <input class="silverButton" type="submit" value="Login"> &nbsp;<span class="editLinks"><a
	{% if category != None %} href="/c/{{category}}/signup"{% else %} href="/signup"{% endif %}>Create Account</a></span>
      
  </form>
</div>


{% endblock %}
