{% extends "base.html" %}

{% block content %}
<div class="login" name="signup">
  <div class="problemTitle"><h1>Signup</h1></div>

  <form method="post" name="signupform">
      <p><input class="mainForm" type="text" name="formUsername" value="{{formUsername}}" placeholder="Username"></p>
      <p class="error" name="userError"> {{userError}}</p>
      <p><input class="mainForm" type="password" name="password" placeholder="Password"></p>
      <p class="error" name="passError"> {{passError}}</p>
      <p><input class="mainForm" type="password" name="verify" placeholder="Verify Password"></p>
      <p class="error" name="verifyError"> {{verifyError}}</p>
      <p><input class="mainForm" type="text" value="{{email}}" name="email" placeholder="Email Address"></p>
      <p class="error" name="emailError"> {{emailError}}</p>{% if userExists != '' %}<p class="error" name="userExists"> {{userExists}}</p>{% endif %}
      <input class="silverButton" type="submit" value="Submit">
  </form>
</div>
{% endblock %}
