{% extends "base.html" %}

{% block content %}
<div class="login" name="signup">
  <div class="problemTitle"><h1>Signup</h1></div>

  <form method="post" name="signupform">
    
      <input class="setProbAttr" style="margin-bottom: 12px;" type="text" name="username" value="{{username}}" placeholder="Username"><span class="error" name="userError"> {{userError}}</span>
      <input class="setProbAttr" style="margin-bottom: 12px;" type="password" name="password" placeholder="Password"><span class="error" name="passError"> {{passError}}</span>
      <input class="setProbAttr" type="password" style="margin-bottom: 12px;" name="verify" placeholder="Verify Password"><span class="error" name="verifyError"> {{verifyError}}</span>
      <input class="setProbAttr" type="text" value="{{email}}" style="margin-bottom: 12px;" name="email" placeholder="Email Address"><span class="error" name="emailError"> {{emailError}}</span>
      <span class="error" name="userExists">{{userExists}}</span>
      <br>
      <input class="silverButton" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
