/*------Start Feedback Form------*/

#container
{
	width:830px;
	margin:auto;
	text-align:center;
	margin-top:80px;
	height:auto;
}

#container h1
{
	color:#444444
}


/* Sign Up Form Here */

#emailform
{
	width:400px;
	height:510px;
	margin:auto;
	background:#f1f1ee;
	padding:30px;
	padding-top:25px;
	margin-bottom:60px;
}

#emailform p
{
	font-size:15px;
	margin-top:20px;
	font-family:verdana;
	text-align:justify;
	line-height:130%;
	color:#2d2d2d;
}

#emailform h4 /*AC Changed this to a label tag to help us sync with python */
{
	font-size:18px;
	color:#888888;
	font-family:arial;
	font-weight:bold;
	margin:0px;
	padding:0px;
	margin-top:20px;
	margin-bottom:3px;
}

div#form
{
	padding:20px;
	width:340px;
	height:300px;
	text-align:left;
	line-height:8px;
}

div#form input
{
	width:250px;
	height:30px;
	border-radius:2px;
	border:1px solid #b2b2b2;
}

div#form textarea
{
	width:300px;
	height:100px;
	border:1px solid #b2b2b2;
	margin-bottom:20px;
	border-radius:2px;
}






/* Submit Form Button */

div#form #button
{
	text-align:center;
	width:200px;
	height:30px;
	border-bottom: 1px solid #b47d26;
	border-right: 1px solid #d8a71e;
	border-top: 3px double #f3df3b;
	border-left: 1px solid #d8a323;
	border-radius:3px;
	background: #f1d60b; /* Old browsers */
	background: -moz-linear-gradient(top, #f1d60b 0%, #f1a832 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1d60b), color-stop(100%,#f1a832)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1d60b 0%,#f1a832 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1d60b 0%,#f1a832 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1d60b 0%,#f1a832 100%); /* IE10+ */
	background: linear-gradient(top, #f1d60b 0%,#f1a832 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1d60b', endColorstr='#f1a832',GradientType=0 ); /* IE6-9 */
	font-weight:bold;
	color:#333333;
	font-size:16px;
	padding:0px;
	margin:0px;
}

div#form #button:hover
{
	border-bottom: 1px solid #b47d26;
	border-right: 1px solid #d8a71e;
	border-top: 3px double #f3df3b;
	border-left: 1px solid #d8a323;
	border-radius:3px;
	background: #f1c41b; /* Old browsers */
	background: -moz-linear-gradient(top, #f1c41b 0%, #f1a833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1c41b), color-stop(100%,#f1a833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1c41b 0%,#f1a833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1c41b 0%,#f1a833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1c41b 0%,#f1a833 100%); /* IE10+ */
	background: linear-gradient(top, #f1c41b 0%,#f1a833 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c41b', endColorstr='#f1a833',GradientType=0 ); /* IE6-9 */
	font-weight:bold;
	color:#333333;
	font-size:16px;
}
