html, body
{
	margin:0px;
	padding:0px;
}

#roadmaptitle
{
	float:left;
	margin-left:10px;
	font-weight:bold;
	font-family:arial, sans-serif;
	color:#dedede;
	margin-top:14px;
	background:none;
	font-size:15px;
}

#roadmaptitle a
{
	color:white;
}

#roadmaptitle a:hover
{
	color:#aaa;
}

#bodycontainer
{
	width:860px;
	margin:auto;
}


#name
{
	font-weight:normal;
	color:#aaa;
}



#next a
{
	background: url('../images/next.jpg') no-repeat right top;
	float:right;
	width:130px;
	height:45px;
	display:block;
}

#previous a
{
	background: url('../images/previous.jpg') no-repeat right top;
	float:right;
	width:130px;
	height:45px;
	display:block;
}

#next a:hover
{
	background-position: right bottom;
}

#previous a:hover
{
	background-position: right bottom;
}


body
{
	overflow:hidden;
}
	
/* Iframe Goes Here */	
	
html, body, iframe { margin:0; padding:0; height:100%; }

iframe { display:block; width:100%; border:none; padding-top:45px; }

